Flask
flask-cors
pandas==2.2.3
numpy==1.26.4
nltk
vaderSentiment
requests
python-dotenv
gunicorn
-e git+https://github.com/ky021605/lightfm-1.17.git@10e1d89b8a39fdd2ee6ef5bb053ee5155bd35fa3#egg=lightfm&subdirectory=lightfm-1.17
